<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li id="home"><a href="/">HOME</a></li>
                    <li id="home"><a href="/">ABOUT US</a></li>
                    <li id="home"><a href="/">CONTACT US</a></li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container mb-3">
            <div class="navbar-header">
                <p class="navbar-brand">DAILY JOURNAL</p>
            </div>
            <div>
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item px-2" id="home">
                        <a href="/">HOME</a>
                    </li>
                    <li class="nav-item px-2" id="about">
                        <a href="/about">ABOUT US</a>
                    </li>
                    <li class="nav-item px-2" id="contact">
                        <a href="/contact">CONTACT US</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/home">DAILY JOURNAL</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav navbar-nav navbar-right" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item px-2">
                    <a class="nav-link" href="">HOME</a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href=""> ABOUT US</a>
                </li>

                <li class="nav-item px-2">
                    <a class="nav-link" href="">CONTACT US</a>
                </li>
            </ul>
                <li>
                    <a href="/auth/logout" class="btn btn-info btn-md" type="submit"><i class="fa fa-sign-out"></i> Logout</a>
                </li>
        </div>
    </div>
</nav> -->
